.Nom_Console{
	display: flex;
	flex:1;
	justify-content: space-around;
	padding:1.3em 0em 0em 0em;
	margin:1em auto 1.5em auto;
	font-size: 4em;
	font-weight: bold;
	text-align:center;
	color: darkcyan;
}

.Caracteristique{
	flex-wrap:wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:0% 0% 3% 0%;
}

.Infos-Console{
	margin:0% 0% 0% 0%;
	padding:0.5em 0.5em 0.5em 0.5em;
	border: 0.1em solid darkcyan;
	width: auto;
	overflow: hidden;
	text-align: justify;
}

.Inf{
	font-size: 1.3em;
	color: coral;
	font-weight: bold;
}

.Infos-Console a{
	text-align: center;
	color: darkcyan;
}

.Infos-Console a:visited{
	color: coral;
}

.Infos-Console a:active{
	color: violet;
}

.Infos-Console a:hover{
	color: deeppink;
}

.Image{
	margin:0% 0% 0% 0%;
	border: 0.1em solid darkcyan;
}

.Infos{
	font-size: 1.1em;
	padding:0.5em 0.5em 0.5em 0.5em;
	margin:1% 10% 2% 10%;
	border: 0.1em solid darkcyan;
	width: 80%;
	text-align:center;
}

@media screen and (max-width: 1397px){
	.Nom_Console{
	font-size: 3em;
	margin:3em auto 1.5em auto;
}

	.Infos-Console{
	margin:0% 1em 3em 3em;
}

.Image{
	margin:0% 0% 2em 0%;
}
}